<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Railsdex" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Railsdex</h1>
      <p>Your Electronic Pokémon Encyclopedia</p>
    </header>

    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Add new Pokémon", new_pokemon_path %>
      <%= link_to "See the Pokémon collection", pokemons_path %>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2025 Railsdex - Powered by Ruby on Rails and brought to you by <a href="https://itfromhell.net" target="_blank">IT from Hell</a></p>
    </footer>
  </body>
</html>
