<% content_for :title, "Railsdex - New Pokémon" %>

<div class="container form-page">
  <h1>New Pokémon</h1>

  <%= form_with model: @pokemon, local: true, html: { multipart: true } do |form| %>
    <% if @pokemon.errors.any? %>
      <div class="errors">
        <h2>Errors</h2>
        <ul>
          <% @pokemon.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, "Pokémon Name" %>
      <%= form.text_field :name %>
    </div>
    <div class="form-group">
      <%= form.label :elemental_type_id, "Elemental" %>
      <%= form.collection_select :elemental_type_id,@elemental_types, :id, :name, { prompt: "" } %>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div class="form-group-checkbox">
      <%= form.label :captured, "Captured?" %>
      <%= form.check_box :captured %>
    </div>
    <div class="file-upload">
      <%= form.label :picture, "Upload the picture" %>
      <%= form.file_field :picture, id: "pokemon-picture", accept: "image/png,image/jpeg" %>
      <label for="pokemon-picture" class="custom-file-button"><span>Choose picture</span></label>
      <span class="file-name">No picture chosen</span>
    </div>

    <%= form.submit "Add Pokémon" %>
  <% end %>
</div>
